<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-Innv1DSgzrcMHi7s2lemsTVXVS1-wAk</string>
	<key>GCM_SENDER_ID</key>
	<string>324855523844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alignify</string>
	<key>PROJECT_ID</key>
	<string>alignify-83a78</string>
	<key>STORAGE_BUCKET</key>
	<string>alignify-83a78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324855523844:ios:2e0fdf14bf9ed7d87ba351</string>
</dict>
</plist>